<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/index.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    
<body>

    {% include "navbar.html" %}

    <div class = "title" >
        <header>
            <h1>Welcome to MS Generation</h1>
            <h2>Future of Academic Assistance</h2>
            
        </header>
    </div>

    <div class="opening-section">
        <div class="image-container">
            <img src="https://itbrief.com.au/uploads/story/2023/07/04/GettyImages-1468068287.webp" alt="Snow" style="width:100%;">
        </div>

        <div class="opening-text-container">
            <h1>
                Unlock the door to academic excellence with MS Generation
            </h1>
            <p>
                With Questions from Math, Physics, Chemistry, Biology, and mores to come
            </p>

            <div class="cta-button-container">
                <a href="#start" class="cta-button">Get Started Now</a>
            </div>
            

        </div>
    </div>

    <div class = "information-box" >
        <section id="abouttext">
            <div class ="about_text">
            <h2>About Us</h2>
            <p>
                MS Generation is a revolutionary online platform designed to assist students in mastering the fields of mathematics, physics, biology, and chemistry. 
                With a mission to empower learners through education, MS Generation provides a dynamic and interactive environment for exploring and understanding key concepts in these subjects. 
                Our platform offers expertly curated content across a wide range of subjects, interactive learning tools, and personalized learning pathways tailored to each individual's needs. 
                Additionally, MS Generation fosters a collaborative community where students can connect with peers, ask questions, and share insights. 
                Accessible anytime, anywhere, our platform enables students to study at their own pace, on their own schedule, transforming learning into an engaging and enriching experience.
                Join MS Generation today and open the door to endless possibilities in education

            </p>
        </div>
        <div class = "Vision-text">
            <h3>Our Vision</h3>
     
                    <p>
                        Our vision at MS Generation would be to build a world where students see access to quality educational materials that light up the flame of curiosity and promote lifelong learning. We work on transforming education into a strong platform for comprehensive learning in many subjects through the development of critical thinking and problem-solving skills in addition to academic and personal development.
                    </p>
       

            </p>
        </div>
            <h3>Questions We Provide</h3>
            <div class = "question-information-container">
                <div class = "math-question-info">

                    <li>
                    <h1>Math</h1>
                    <p>Derivatives</p>
                    <p>Quadratics</p>
                    <p>Linear Systems</p>
                    </li>
                </div>
                <div class = "physics-question-info">
                    <li>
                        <h1>Biology</h1>
                        <p>Human Parts</p>
                        <p>Animals Habitat</p>
                        <p>Cell Theory</p>
                    </li>

                </div>
                <div class = "chemistry-question-info">

                    <li>
                        <h1>Chemistry</h1>
                        <p>Elements</p>
                        <p>Chemical Reactions</p>
                        <p>Thermodynamics</p>
                        
                    </li>
                </div>
                <div class = "biology-question-info">

                    <li>
                        <h1>Physics</h1>
                        <p>Kinematics</p>
                        <p>Optics & Lenses</p>
                        <p>Work and Energy</p>
                    </li>
                </div>
            </div>
            

        </section>


    </div>

    <div class="people-info-container">
        <h2>Meet Our Team</h2>
        <div class="person-card">
            <img src="https://via.placeholder.com/150" alt="Person 1" class="person-image">
            <h3>Evan Guo</h3>
            <p>Creator</p>
            <p>Student at Bur Oak Secondary School

                Contact:
                Evanjv404@gmail.com

            </p>
        </div>
        <div class="person-card">
            <img src="https://via.placeholder.com/150" alt="Person 2" class="person-image">
            <h3>Mohan Dixit</h3>
            <p>Creator</p>
            <p>Student at Bur Oak Secondary School

                Contact:
                mohan.dixit2008@gmail.com
            </p>
        </div>
        <div class="person-card">
            <img src="https://via.placeholder.com/150" alt="Person 3" class="person-image">
            <h3>Varun Udayachandiran</h3>
            <p>Creator</p>
            <p>Student at Bur Oak Secondary School
                
                Contact:
                Varun6708@gmail.com
            </p>

    </div>

    </div>
    
    <footer>
        <p>&copy; 2024 Home Website. All rights reserved.</p>
    </footer>

</body>
</html>




   
