<nav>
    <input type="checkbox" id="check" class="hide"> 

    <div class="NAVIGATION_BAR">    
        <label id="openarrowclose" for="check">
            <i class="fa fa-arrow-left" id="arrow"></i>
        </label>
        <ol id="Subjects">
            <li id="Home"><a href="index.html"><p id="HomeP">Home</p></a></li>
            <li id="Math"><a href="math.html"><p id="MathP">Math</p></a></li>
            <li id="Biology"><a href="biology.html"><p id="BiologyP">Biology</p></a></li>
            <li id="Physics"><a href="physics.html"><p id="PhysicsP">Physics</p></a></li>
            <li id="Chemistry"><a href="chemistry.html"><p id="ChemistryP">Chemistry</p></a></li>
        </ol>
    </div>
</nav>