@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2022/03/25/12/17/dna-7090994_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
}

#question-selection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#generate-button {
    padding: 10px 20px;
    color: white;
    background-color: #cf4c4c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generate-button:hover {
    background-color: #cf4c4c;
}

#questions-list {
    list-style: none;
    padding: 0;
}

#questions-list li {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
}

.solution-button {
    padding: 10px 20px;
    color: white;
    background-color: #cf4c4c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.solution-button:hover {
    background-color: #cf4c4c;
}

input[type="text"], select {
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: calc(50% - 22px); 
    color: black;
}

input[list="topics"] {
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%; 
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #cf4c4c;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: black;
}

.modal-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}

.close {
    color: #cf4c4c;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #a03a3a;
    text-decoration: none;
    cursor: pointer;
}

.solution-textbox {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: none;
    overflow: auto;
    height: 60px;
    color: black;
    margin-top: 20px;
}

#QnSbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#question-selection div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#question-selection div label {
    width: 200px;
    margin-right: 20px;
    color: black;
}
